.container-fullwidth {
    width: 90%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 576px) {
    .container-fullwidth {
        max-width: 90%;
    }
}

@media (min-width: 992px) {
    .container-fullwidth {
        max-width: 90%;
    }
}

@media (min-width: 768px) {
    .container-fullwidth {
        max-width: 90%;
    }
}

.btn.disabled,
.btn:disabled {
    cursor: no-drop;
}

.inline-block {
    display: inline-block;
}

.form-contain-home .btn-holder-contect button[disabled] {
    cursor: no-drop;
    background: #4e4e4e;
}

.btn-group-sm>.btn,
.btn-sm {
    padding: .4rem 1.5rem;
    font-size: .875rem;
    line-height: 1.5;
    border-radius: 2rem;
}

.btn-icon-blue,
.btn-icon-purple,
.btn-icon-green {
    position: relative;
    z-index: 998;
}

.btn-icon-blue {
    background-color: #00cef9;
    border-color: #54c2d6;
    color: #FFF;
}

.btn-icon-blue:hover {
    background-color: #6fdaec;
    border-color: #45afc2;
}

.btn-icon-purple {
    background-color: #9520ff;
    border-color: #8112e9;
}

.btn-icon-purple:hover {
    background-color: #8214e9;
    border-color: #8112e9;
}

.btn-icon-green {
    background-color: #8bc34a;
    border-color: #6b9e2f;
}

.btn-icon-green:hover {
    background-color: #80b93e;
    border-color: #5d8f25;
}

.coodiv-dropdown-header li.category span {
    padding: 5px 00px 5px 10px;
    color: #9c9c9c;
    font-size: 10px;
    font-weight: 600;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 0.5px;
}

.coodiv-dropdown-header li.divider {
    border-top: 1px solid #e9ecef;
    display: block;
    margin: 5px 0;
    position: relative;
}

#coodiv-navbar-header .navbar-nav .nav-link:after,
#coodiv-navbar-header .navbar-nav .nav-link:before {
    background-color: #00cef9;
}

.header-user-info-coodiv li #header-login-dropdown,
.header-user-info-coodiv li a.btnHeader {
    background: #00cef9;
    color: #ffffff;
    letter-spacing: 1px;
}

.header-user-info-coodiv li #header-login-dropdown:hover,
.header-user-info-coodiv li a.btnHeader:hover {
    background: #00edd1;
}

.header-user-info-coodiv li span {
    margin-top: -10px;
}

.coodiv-dropdown-header {
    background: #fff;
    box-shadow: 2px 3px 25px 0 rgba(77, 77, 119, 0.4);
    margin-top: 5px;
}

#coodiv-header .navbar,
#coodiv-header .navbar.fixed-header-layout.top-header-fixed {
    z-index: 999;
}

#coodiv-header .navbar-brand img {
    max-height: 46px;
}

#coodiv-header.subpages-header-min {
    max-height: 130px !important;
}

#coodiv-navbar-header {
    padding: 29px 0;
}

@media screen and (max-width:990px) {
    #coodiv-header.subpages-header-min {
        max-height: 90px !important;
    }
    #coodiv-header .navbar-brand img {
        max-height: 30px;
    }
    #coodiv-navbar-header {
        padding: 20px;
    }
}

.moon-edition.subpages-header-min .bg_overlay_header img {
    bottom: -140px;
}

.header-shapes.shape-02 {
    top: 20%;
}

.header-shapes.shape-03 {
    right: -1115px;
    top: 72%;
}

.help-center-text {
    color: #4f5165;
    font-size: 17px;
    font-weight: 400;
    line-height: 25px;
    font-family: 'Open Sans', sans-serif;
}

.card-body .immediate-help-center-title {
    margin-top: 0;
}

.card-body .web-hosting-options {
    margin: 0;
}

.immediate-help-center-text {
    font-size: 13.5px;
    line-height: 28px;
    color: #717679;
    margin-bottom: 20px;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
}

.immediate-help-center-title {
    line-height: 20px;
    margin-top: 10px;
}

.immediate-help-center-title span {
    color: #00cef9;
}

.immediate-help-center-link {
    font-weight: 500;
}

.immediate-help-center-title.text-white {
    color: #FFF;
}

.immediate-help-center-text.text-white {
    color: #F7F7F7;
}

.immediate-help-center-link.text-white {
    color: #FFF !important;
}

.immediate-help-center-link.text-white:hover {
    color: #00cef9 !important;
}

.immediate-help-center-title.text-white:after {
    width: 50px;
    left: 43%;
}

h3.side-text-right-title {
    font-size: 20px;
}

.futures-version-2-box p {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
}

.side-text-right-text {
    font-weight: 400;
}

.web-hosting-options li {
    padding: 5px 0;
    font-size: 19px;
    font-weight: 400;
    letter-spacing: 0;
}

.web-hosting-options li i {
    min-width: 20px;
}

.plan-dedicated-order-button {
    display: inline-block;
    min-width: 200px;
    width: auto;
    padding: 9px 20px;
}

.free-trial-footer-banner-title {
    font-size: 26px;
    text-transform: uppercase;
}

.free-trial-footer-banner-title b {
    color: #00cef9;
}

.free-trial-footer-banner-text {
    font-size: 20px;
    font-weight: 400;
}

.free-trial-footer-links a.sign-btn {
    background: #00cef9;
    color: #fff;
}

.free-trial-footer-links a.sign-btn:hover {
    background: #00edd1;
    color: #fff;
}

.footer-section {
    padding: 40px 0;
}

.footer-social-icons {
    margin-top: 15px;
}

@media (max-width:769px) {
    #coodiv-header {
        max-height: 100%;
        padding: 0 0 50px;
        height: auto !important;
    }
}

.box-features-new .box-features-item h5 {
    max-width: 100%;
}

.box-features-new .box-features-item i.fa {
    font-size: 35px;
}

.futures-version-2-box i {
    margin: 10px 0 25px 10px;
}

.futures-version-2 div:nth-child(1) .futures-version-2-box i {
    color: #8BC34A;
}

.how-it-work-section-row [class^="col-md-"]:nth-child(1) .how-it-works-box i:before {
    color: #8BC34A;
}

.web-hosting-menu-header li:nth-child(1) i {
    color: #8BC34A;
}

.web-hosting-menu-header li:nth-child(1):hover i {
    color: #FFF;
    background: #8BC34A;
}

.futures-version-2 div:nth-child(2) .futures-version-2-box i {
    color: #9520ff;
}

.how-it-work-section-row [class^="col-md-"]:nth-child(2) .how-it-works-box i:before {
    color: #9520ff;
}

.web-hosting-menu-header li:nth-child(2) i {
    color: #9520ff;
}

.web-hosting-menu-header li:nth-child(2):hover i {
    color: #FFF;
    background: #9520ff;
}

.futures-version-2 div:nth-child(3) .futures-version-2-box i {
    color: #00cef9;
}

.how-it-work-section-row [class^="col-md-"]:nth-child(3) .how-it-works-box i:before {
    color: #00cef9;
}

.web-hosting-menu-header li:nth-child(3) i {
    color: #00cef9;
}

.web-hosting-menu-header li:nth-child(3):hover i {
    color: #FFF;
    background: #00cef9;
}

.side-text-right-image img {
    width: 100%;
    max-width: 100%;
}

.blog-items-home {
    margin-top: 30px;
}

.questions-box .questions-reponse.show {
    margin-bottom: 20px;
}

.questions-box .questions-title:before {
    left: 0;
}

.questions-box .questions-title:after {
    left: 6px;
}

.questions-box .questions-reponse {
    font-size: 15px;
    font-weight: 500;
}

.questions-box .questions-title {
    text-align: left;
    padding: 0 0 0 25px;
}

.questions-box .questions-reponse ul {
    margin: 0;
    padding: 0;
    list-style: inside;
}

.questions-box .questions-reponse ul li {
    padding: 0;
    margin: 0;
    display: list-item;
    font-weight: 400;
    font-size: 14px;
}

.questions-box .questions-reponse ul li a {
    color: #616161;
}

.questions-box .questions-reponse ul li.active a,
.questions-box .questions-reponse ul li a:hover {
    color: #00cef9;
    text-decoration: none;
}

.title-default-coodiv-two {
    font-size: 20px;
}

@media (max-width:767px) {
    .web-hosting-menu-header li {
        padding: 10px 20px;
    }
    .web-hosting-menu-header li i {
        display: none;
    }
}

@media (max-width: 767px) {
    .futures-version-2 div .futures-version-2-box {
        text-align: center;
    }
    .futures-version-2-box p {
        display: none;
    }
}

.the_breadcrumb {
    margin: 0;
}

.the_breadcrumb ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.the_breadcrumb ul li {
    display: inline-block;
    padding: 2px 7px;
}

.the_breadcrumb ul li:first-child {
    border-left: 0;
}

.the_breadcrumb ul li {
    border-left: 1px solid #DDD;
}

.the_breadcrumb ul li a {
    font-size: 12px;
    letter-spacing: 0;
    font-family: 'Open Sans', sans-serif;
}

.the_breadcrumb ul li.current a {
    font-weight: 500;
}

.box-features-one {
    padding: 0;
}

.box-features-one:hover {
    background: none;
}

.box-features-one h5 {
    margin: 0;
}

.box-features-one a {
    text-decoration: none;
    display: block;
    background: transparent;
    border: 1px solid transparent;
    border-radius: 5px;
    padding: 15px;
    transition: 0.3s all ease;
}

.box-features-one a:hover {
    background: #F7F7F7;
    border: 1px solid #DDD;
}

.help-center-title {
    margin-bottom: 12px;
    font-size: 26px;
}

.help-center-title span {
    font-weight: 500;
    font-size: 12px;
}

.privacy-content .privacy-description {
    display: block;
    margin-top: 15px;
    padding: 10px 10px 10px 15px;
    border-left: 7px solid #F2F2F2;
}

.privacy-content .privacy-description p {
    margin: 0 0 5px 0;
}

.privacy-content .help-center-header {
    margin: 20px 0;
}

.privacy-content p {
    color: #616161;
    font-size: 15px;
    font-weight: 450;
}

.privacy-footer p {
    margin: 0 0 5px 0;
}

.privacy-footer p small {
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0.8px;
}

.privacy-footer {
    padding: 10px 0 0 0;
    border-top: 1px solid #F2f2f2;
    margin: 10px 0 0 0;
}

.widget {
    margin: 0 0 30px 0;
}

.widget:last-child {
    margin: 0;
}

.support-contact-us-box {
    opacity: 0.85;
    margin: 0;
}

.support-contact-us-box:hover {
    margin: 0;
}

.parallax-window {
    position: relative;
    display: block;
    width: 100%;
    height: 350px;
    background-size: cover !important;
    border-radius: 10px;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.gallery-carousel .item a,
.portfolio-carousel .item a {
    color: #111;
    transition: 0.5s all ease;
}

.gallery-carousel .item a:hover,
.portfolio-carousel .item a:hover {
    text-decoration: none;
}

.gallery-carousel .item a:hover .description h2,
.portfolio-carousel .item a:hover .description h2 {
    color: #00cef9;
}

.gallery-carousel .item img,
.portfolio-carousel .item img {
    border-radius: 5px;
    border: 2px solid #DDD;
    margin: 0 0 10px 0;
    transition: 0.5s all ease;
}

.gallery-carousel .item a:hover img,
.portfolio-carousel .item a:hover img {
    border-color: #111;
}

.gallery-carousel .item .description,
.portfolio-carousel .item .description {
    padding: 0px 0 0 10px;
}

.gallery-carousel .item .description h2,
.portfolio-carousel .item .description h2 {
    font-size: 16px;
    margin: 0 0 5px;
    color: #111;
    transition: 0.5s all ease;
}

.portfolio-carousel .item .description p {
    font-size: 13px;
    color: #646464;
}

.videoWrapper {
    position: relative;
    padding-bottom: 56.25%;
    /* 16:9 */
    padding-top: 25px;
    height: 0;
}

.videoWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.nav-tabs {
    border-bottom: 1px solid #F2F2F2;
    margin: 0 0 20px 0;
}

.nav-tabs li a {
    padding: 6px 11px;
    color: #111;
    font-weight: 500;
    display: block;
    text-decoration: none;
}

.nav-tabs li.active a,
.nav-tabs li:hover a {
    color: #00cef9;
}

.ce-feature-box-13 h3 {
    font-size: 1.6rem;
}

.page-groups h4 {
    margin: 10px 0 20px 0;
}

ul.groups {
    padding: 0;
    margin: 0 0 30px;
    list-style: none;
}

ul.groups li {
    display: inline-block;
}

ul.groups li a.btn {
    width: 40px;
    height: 30px;
    line-height: 30px;
    margin: 5px;
    padding: 0;
    font-size: 14px;
    font-family: Arial;
}

ul.groups li a.btn.btn-primary:visited {
    background: #0071a5;
}

.modal.fade.show {
    overflow: auto;
}

.second-pricing-table-price {
    font-weight: bold !important;
    font-family: 'Play', 'Open Sans', sans-serif;
    line-height: 21px;
}

.first-pricing-table.best-plan {
    padding: 70px 30px;
}

.first-pricing-table.best-plan .first-pricing-table-order {
    margin: 45px -30px -70px;
}

.first-pricing-table .content {
    transition: .4s all linear;
}

.first-pricing-table-container [class^="col-md-"]:first-child .first-pricing-table .first-pricing-table-icon,
.first-pricing-table-container [class^="col-md-"]:first-child .first-pricing-table .first-pricing-table-title {
    color: #00cef9;
}

.first-pricing-table.best-plan .first-pricing-table-order {
    background: #3f51b5;
}

.first-pricing-table-most {
    background: #42c161;
}

.first-pricing-table-container [class^="col-md-"]:first-child .first-pricing-table .first-pricing-table-order:hover,
.first-pricing-table.best-plan .first-pricing-table-order:hover {
    background: #42c161;
}

.first-pricing-table-container [class^="col-md-"]:first-child .first-pricing-table .first-pricing-table-order {
    background: #00cef9;
}

.first-pricing-table-body li:hover {
    background: #00cef9;
    color: #FFF;
}

.first-pricing-table.best-plan .first-pricing-table-body li:hover {
    background: #3f51b5;
    color: #FFF;
}

.oceanlight {
    color: #00cef9 !important;
}

.oceandark {
    color: #3f51b5 !important;
}

table#prices {
    width: 100%;
}

table#prices tbody tr.feature td span.yes,
table#prices tbody tr.feature td span.no {
    display: inline-block;
    width: 18px;
    height: 18px;
    background-repeat: no-repeat;
}

table#prices tbody tr.feature td span.no {
    background-image: url(../img/cross-grey.png);
}

table#prices tbody tr.feature td span.yes {
    background-image: url(../img/v-blue.png);
}

table#prices thead tr th.checklist>p {
    font-size: 13px;
    color: #bfc7ca;
    font-weight: 300;
    text-align: center;
}

table#prices thead tr th.checklist>p .soft-type {
    font-size: 22px;
    text-transform: uppercase;
    color: #333;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    display: block;
}

table#prices thead tr th.checklist>p .price {
    text-transform: uppercase;
    color: #673AB7;
    font-weight: bold;
    font-size: 50px;
}

table#prices thead tr th.checklist>p .currency {
    font-size: 13px;
}

table#prices thead tr th.checklist .call-to-action>a {
    display: block;
    text-align: center;
    font-size: 10px;
    color: #b8c7ce;
}

table#prices thead tr th.checklist .call-to-action a.btn-empty {
    display: block;
    background: transparent;
    border: 2px solid #673ab7;
    color: #673ab7;
    padding: 9px 0;
    text-align: center;
    margin-top: 4px;
    border-radius: 2px;
    font-size: 13px;
    text-decoration: none;
}

table#prices thead tr th.checklist .call-to-action a.btn-empty:hover {
    background: #673ab7 !important;
    color: #fff;
    text-decoration: none;
}

table#prices thead th.checklist {
    width: 25%;
    background: white;
    font-weight: normal;
    border: 1px solid #ecf1f3;
    padding: 20px;
    border-bottom: 0;
}

table#prices thead tr.price-dsc th {
    border: 0;
    border-bottom: 1px solid #ecf1f3;
}

table#prices thead tr.price-dsc th.checklist.left {
    border: 1px solid #ecf1f3;
    padding: 20px;
}

table#prices thead tr.price-dsc th.checklist.left p {
    margin: 0;
}

table#prices tbody tr.feature td {
    color: #666F77;
    font-size: 15px;
    line-height: 22px;
    padding: 14px 10px;
    border-right: 1px solid #ecf1f3;
    border-left: 1px solid #ecf1f3;
    border-bottom: 1px solid #ecf1f3;
    transition: 0.3s all linear;
    text-align: left;
}

table#prices tbody tr.feature td.feature {
    text-align: center;
}

table#prices tbody tr.feature.active td {
    text-align: center;
    background: #f1f1f1;
}

table#prices.table-striped tbody tr:nth-of-type(odd) {
    background-color: rgba(0, 0, 0, .01);
}

table#prices tbody tr.active {
    background: #f5f5f5;
}

table#prices tbody tr.active td {
    font-weight: bold;
    color: #3f51b4;
    font-size: 16px;
}

table#prices tbody tr:hover td {
    background: #f5f5f5;
    color: #000;
}

table#prices tbody tr.feature td+td {
    text-align: center;
}

table#prices tbody tr.feature td span {
    font-size: 13px;
    font-weight: 500;
}

table#prices tbody tr.feature td span.name {
    font-size: 13px;
    color: #232c30;
    font-weight: bold;
    text-align: left;
}

table#prices thead tr.price-dsc th.features.banner {
    padding: 0;
    background-image: linear-gradient(90deg, #606ad4 0%, #5e4494 100%);
}

table#prices thead tr.price-dsc th.features.banner .banner-servers-box {
    box-shadow: none;
    height: auto;
}


/* Content Order */

.card {
    border: 0;
    padding: 30px 30px;
    background: #fff;
    box-shadow: 0 10px 100px 0 rgb(77 77 119 / 16%);
    border-radius: 5px;
}

#heading {
    text-transform: uppercase;
    color: #673AB7;
    font-weight: normal
}

#request_order {
    text-align: center;
    position: relative;
    margin-top: 20px
}

#request_order fieldset {
    background: white;
    border: 0 none;
    border-radius: 0.5rem;
    box-sizing: border-box;
    width: 100%;
    margin: 0;
    padding-bottom: 20px;
    position: relative
}

.form-card {
    text-align: left
}

#request_order fieldset:not(:first-of-type) {
    display: none
}

#request_order .action-button {
    width: auto;
    background: #673AB7;
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 0px;
    cursor: pointer;
    padding: 10px 15px;
    margin: 10px 0px 10px 5px;
    float: right
}

#request_order .action-button:hover,
#request_order .action-button:focus {
    background-color: #311B92
}

#request_order .action-button:disabled {
    cursor: not-allowed;
    background-color: rgb(43, 43, 43);
}

#request_order .action-button-previous {
    width: 100px;
    background: #616161;
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 0px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 5px 10px 0px;
    float: right
}

#request_order .action-button-previous:hover,
#request_order .action-button-previous:focus {
    background-color: #000000
}

.card {
    z-index: 0;
    border: none;
    position: relative
}

.fs-title {
    font-size: 25px;
    color: #673AB7;
    margin-bottom: 15px;
    font-weight: normal;
    text-align: left
}

.purple-text {
    color: #673AB7;
    font-weight: normal
}

.steps {
    font-size: 25px;
    color: gray;
    margin-bottom: 10px;
    font-weight: normal;
    text-align: right
}

.fieldlabels {
    color: gray;
    text-align: left
}

#progressbar {
    padding: 0 30px;
    margin-bottom: 30px;
    overflow: hidden;
    color: lightgrey
}

#progressbar .active {
    color: #673AB7
}

#progressbar li {
    list-style-type: none;
    font-size: 15px;
    width: 49.95%;
    float: left;
    position: relative;
    font-weight: 400
}

#progressbar #customize:before {
    font-family: FontAwesome;
    content: "\f0d0"
}

#progressbar #register:before {
    font-family: FontAwesome;
    content: "\f234"
}

#progressbar #order:before {
    font-family: FontAwesome;
    content: "\f560"
}

#progressbar #confirm:before {
    font-family: FontAwesome;
    content: "\f00c"
}

#progressbar li:before {
    width: 50px;
    height: 50px;
    line-height: 45px;
    display: block;
    font-size: 20px;
    color: #ffffff;
    background: lightgray;
    border-radius: 50%;
    margin: 0 auto 10px auto;
    padding: 2px
}

#progressbar li:after {
    content: '';
    width: 100%;
    height: 2px;
    background: lightgray;
    position: absolute;
    left: 0;
    top: 25px;
    z-index: -1
}

#progressbar li.active:before,
#progressbar li.active:after {
    background: #673AB7
}

.progress {
    height: 20px
}

.progress-bar {
    background-color: #673AB7
}

.fit-image {
    width: 100%;
    object-fit: cover
}

@media screen and (max-width: 990px) {
    .fs-title,
    .steps {
        font-size: 17px;
    }
    #progressbar {
        padding: 0;
    }
}

.terms_description {
    background: #F2f2f2;
    border: 1px solid #DDD;
    padding: 10px;
    margin: 7px 0;
    border-radius: 5px;
    font-size: 15px;
    font-family: Open sans;
}

.terms_description ul li {
    padding: 2px 0 5px 0;
}

.btn-whatsapp {
    background: #42c161;
    color: #FFF;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 20px;
    font-size: 20px;
    position: fixed;
    bottom: 85px;
    right: 36px;
    z-index: 9999;
}

.btn-whatsapp:hover {
    background: #2aa347;
    color: #FFF;
    text-decoration: none;
}

.btn-color-whatsapp {
    background: #42c161;
    color: #FFF;
    text-align: center;
    border-radius: 50px;
    padding: 10px 30px;
    font-size: 20px;
}

.btn-color-whatsapp:hover {
    background: #2aa347;
    color: #FFF;
    text-decoration: none;
}

.list_payments {
    list-style: none;
    padding: 0;
    margin: 0;
}

.list_payments li {
    padding: 5px 0 25px;
}

.header-user-info-coodiv li a:hover {
    background: #f8f9fa;
    text-decoration: none;
}

.coodiv-dropdown-header .dropdown-item {
    padding: 5px 0 5px 15px;
    font-weight: 700;
    color: #4e5f67;
    font-size: 13px;
    line-height: 24px;
    position: relative;
    text-align: left;
    transition: 0.4s all ease-out;
}

.coodiv-dropdown-header {
    min-width: 13rem;
}

.coodiv-dropdown-header .dropdown-item:hover {
    padding-left: 20px;
}

.coodiv-dropdown-header.right {
    min-width: 11.5rem;
    right: 0;
    left: auto;
}

.coodiv-dropdown-header.right:after {
    left: auto;
    right: 9px;
}

.header-user-info-coodiv li.account>a {
    text-shadow: none;
    color: #FFF;
    background: #00cef9;
    padding: 10px 20px;
    border-radius: 50px;
    font-weight: bold;
    font-family: Open sans;
    font-size: 14px;
}

.header-user-info-coodiv li.account>a:hover {
    background: #00edd1;
}

.menu-accounts ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.menu-accounts ul li a {
    padding: 7px 5px;
    display: block;
    color: #141414;
}

.menu-accounts ul li a:hover {
    color: #00cef9;
}

.grid-designgrafico img {
    border-radius: 10px;
    border: 2px solid #EEE;
    transition: 0.3s all ease-out;
}

.grid-designgrafico .grid-item:hover img {
    border-color: #141414;
}

.grid-designgrafico a:hover {
    text-decoration: none;
}

.grid-designgrafico .description h2 {
    font-size: 14px;
    color: #141414;
    font-weight: bold;
    margin: 0 0 5px;
}

.grid-designgrafico .description p {
    font-size: 12px;
    color: #444;
    margin: 0;
}

.grid-designgrafico .description {
    font-family: Open Sans;
    padding: 10px 0 0 10px;
}

.contact-us-social-icons a.wa {
    background: #00d463;
    color: #FFF;
}

.contact-us-social-icons a.wa:hover {
    background: #00b957;
}

.groups-icons {
    display: block;
}

.groups-icons ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.groups-icons ul li {
    display: inline-block;
    max-width: 30%;
    margin: 0 1%;
    margin-bottom: 40px;
    text-align: center;
}

.groups-icons.fullwidth ul li {
    max-width: 80%;
    margin: 0 auto;
}

@media screen and (max-width:767px) {
    .groups-icons ul li {
        max-width: 100%;
    }
    .groups-icons.fullwidth ul li {
        max-width: 100%;
    }
}

.groups-icons ul li span.icon {
    display: block;
    margin: 0 0 20px 0;
}

.groups-icons ul li h2 {
    font-size: 24px;
    font-weight: bold;
}

.groups-icons ul li p {
    font-size: 18px;
    font-weight: 500;
}

a.btnMyAccount {
    /* padding: 5px 30px; */
    border-radius: 20px;
    font-size: 13px;
    font-weight: 600;
    position: relative;
    background: #00cef9;
    color: #ffffff;
    letter-spacing: 1px;
}

.render_sm {
    width: 200px;
    height: 320px;
    position: absolute;
    background: url(/galerias/pages/icons/SM.webp?1) no-repeat;
}

@media screen and (max-width:768px) {
    .render_sm {
        left: -40%;
    }
}


.whatsapp_futuante {
    position: fixed;
    right: 40px;
    bottom: 90px;
    z-index: 999;
}

.whatsapp_futuante a {
    z-index: 9999;
    position: relative;
    background: #03eb22;
    border: 2px solid #03eb22;
    box-shadow: 0 0 5px #00000036;
    width: 55px;
    height: 55px;
    line-height: 52px !important;
    text-align: center;
    display: block;
    color: #FFF;
    font-size: 30px;
    border-radius: 100%;
    transition: 0.3s all ease;
}

.whatsapp_futuante a:hover {
    transform: translateY(-5px);
    color: #FFF;
}

.whatsapp_futuante:before,
.whatsapp_futuante:after {
    content: '';
    display: block;
    position: absolute;
    border-radius: 50%;
    border: 1px solid #03eb22;
    left: -20px;
    right: -20px;
    bottom: -20px;
    top: -20px;
    animation: animatePulse 1.5s linear infinite;
    opacity: 0;
    backface-visibility: hidden;
}

.pulsaDelay:after {
    animation-delay: .5s;
}

@keyframes animatePulse {
    0% {
        transform: scale(0.5);
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        transform: scale(1.2);
        opacity: 0;
    }
}